#canvas {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border: solid;
}

.cell {
  flex: 0 0 calc(240px / 4);
  height: calc(240px / 4);
  border: 0.5px solid;
  box-sizing: border-box;
}